.box1 {
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: red;
}

.box1:hover {
  background-color: blue;
}

.box2 {
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: yellow;
}

.box2:hover {
  background-color: red;
}


.box3 {
  height: 200px;
  width: 200px;
  margin: auto;
  background-color: blue;
}

.box3:hover {
  background-color: green;
}
